# PrimeAir Aircraft Purchase Recommendations

Authors: [Catherine Langley](https://www.linkedin.com/in/catherine-langley-4b904a1ab/),  [Aung Si](https://www.linkedin.com/in/aungsi99/), and  [Sam Whitehurst](https://www.linkedin.com/in/sam-whitehurst23/)

## Executive Summary 

This project analyzes the potential risks of three sizes of aircraft for private and commercial use by company new branch, PrimeAir. 

* Descriptive analysis of aviation accidents produced a Danger Zone Scale based on historic accidents related to plane models. 
* Descriptive analysis of the commercial aircraft inventory found the most commonly used commercial planes in three size categories. 
* The Danger Zone Scale was used to identify the aircraft models with the lowest historic reported risk. 

PrimeAir can use this analysis to select the lower risk planes for both commercial and private use from the most popular aircraft in recent commercial inventory.

## Business Problem

PrimeAir may be able to reduce risks in their industry expansion by including the results of this analysis in their purchase decisions. Following these recommendations will: 

- Improve day-to-day operations by reducing potential interruptions, 
- Reduce the probability of aircraft repair/loss, and
- Reduce the probability of human injury and loss of life.

## Our Data


### Aviation Accident Database

The National Transportation Safety Board’s (NTSB’s) Aviation Accident Database lists reported aviation accidents in the United States and related areas. The NTSB is required by law to investigate all civil aviation accidents and to publically report its findings. This database is a part of the mandated reporting process. 

This database shares all reported accidents with the date of the accident, the aircraft make and model, degree of damage to the aircraft and degree of injury/loss to human life. 

* Where we got it: 
    * Download from [Kaggle's Aviation Accident Database & Synopses, up to 2023](https://www.kaggle.com/datasets/khsamaha/aviation-accident-database-synopses). 
    * Includes  AviationData.csv and USState_Codes.csv.
* Original Data: 
    * Download from [NTSB](https://www.ntsb.gov/Pages/AviationQuery.aspx) website.  
* Explanatory Information: 
    * [GILS Aviation Accident Database](https://www.ntsb.gov/GILS/Pages/AviationAccident.aspx) webpage.
    * Includes a full definition of accidents vs. incidents.
* Data Limitations: 
    * Reports are primarily accidents: serious personal injury and serious aircraft damage. 
    * Reported aircraft incidents are in a separate Federal Aviation Administration [incident database](https://www.asias.faa.gov/).

### Inventory of Aircraft Database 

This BTS database lists the yearly aircraft inventory of large certified carriers in the United States.  Each entry includes the year of inventory, the plane's unique serial number, and the manufacturer and model of the aircraft. 

* Where we got it: 
    * The Bureau of Transportation Statistics’s (BTS) [Schedule B-43 Database: Annual Inventory of Airframe and Aircraft Engines](https://www.transtats.bts.gov/Fields.asp?gnoyr_VQ=GEH).
    * Found in T_F41SCHEDULE_B43.csv.
    * We downloaded the data from the website, selecting all years, and all columns into the file. 
* Explanatory information: 
    * The database is part of the  [Form 41 Financial Database: Air Carrier Financial Reports](https://www.transtats.bts.gov/Tables.asp?QO_VQ=EGI&QO_anzr=Nv4%FDPn44vr4%FDSv0n0pvny%FDer21465%FD%FLS14z%FDHE%FDSv0n0pvny%FDQn6n%FM&QO_fu146_anzr=Nv4%FDPn44vr4%FDSv0n0pvny). 
    * Form 41 Financial Reports is collected by the Office of Airline Information of the Bureau of Transportation Statistics from large certified carriers. 
    * More information on the BTS [TranStats](https://www.transtats.bts.gov/DatabaseInfo.asp?QO_VQ=EGI&Yv0x=D) webpage.   
* Data Limitations:
    * Only includes large certified carriers which are carriers that have the annual operating revenues of 20 million USD.  

### Special Feature: The Danger Zone Scale 

The danger zone scale attributes a scalar value to aircraft damage and human injury per accident
* Combines weighted values of aircraft damage with injury to human life.  
* Aircraft damage is weighted 75% since aircraft malfunction involves potentially greater human injury.

## Method

We used descriptive analysis which provides a useful insight into the historic risk level of the models of top ten most common models in recent inventory.

## Process Steps
This project began with intensive analysis of the ‘AviationData.csv’ file that included data cleaning methods such as identifying and addressing null values, recognizing and dropping columns that contain redundant information as other columns, and also additional external research that clarified the values in the dataset. Ultimately, we recognized that this single dataset did not provide sufficient information for us to develop appropriate recommendations. 

We discovered an additional dataset that provided better insight as we worked towards our recommendations. By introducing this new dataset, T_F41SCHEDULE_B43.csv from the BTS website, we were able to cross reference all the registered airplanes from commercial carriers with a value over $20 million in the US that from 2006 to 2022 against the number of accidents involving these specific airplane models. To further distill the data, we grouped the plane model options by the passenger capacity or number of seats available into three groups: 0 - 20 seats, 21 - 100 seats and greater than 100 seats. 

*Within these groups, we found which airplane models appear the most frequently in the accident dataframe and calculated the ratio of planes registered to plane accidents. This standardized ratio allowed us to make our final comparisons between our different airplane model options.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np
import utility as u

---
## <center>1. Loading Data.</center>
---

In [2]:
plane_accidents_raw = pd.read_csv('data/AviationData.csv', encoding='latin-1')
plane_inventory_raw = pd.read_csv('data/T_F41SCHEDULE_B43.csv')

C:\Users\irish\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\irish\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
plane_accidents_raw.head(3)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007

In [4]:
plane_inventory_raw.head(3)

,YEAR,CARRIER,CARRIER_NAME,MANUFACTURE_YEAR,UNIQUE_CARRIER_NAME,SERIAL_NUMBER,TAIL_NUMBER,AIRCRAFT_STATUS,OPERATING_STATUS,NUMBER_OF_SEATS,MANUFACTURER,AIRCRAFT_TYPE,MODEL,CAPACITY_IN_POUNDS,ACQUISITION_DATE,AIRLINE_ID,UNIQUE_CARRIER
0,2006,16,PSA Airlines Inc.,2003.0,PSA Airlines Inc.,7858,N202PS,B,Y,50.0,CANADAIR,NaN,CRJ-2/4,47000.0,10/28/2003 12:00:00 AM,20397.0,16
1,2006,16,PSA Airlines Inc.,2003.0,PSA Airlines Inc.,7860,N206PS,B,Y,50.0,CANADAIR,NaN,CRJ-2/4,47000.0,10/30/2003 12:00:00 AM,20397.0,16
2,2006,16,PSA Airlines Inc.,2003.0,PSA Airlines Inc.,7873,N207PS,B,Y,50.0,CANADAIR,NaN,CRJ-2/4,47000.0,11/26/2003 12:00:00 AM,20397.0,16

In [5]:
plane_accidents = u.clean_data_PA(plane_accidents_raw)
plane_accidents.head()

,year,aircraft_damage,make,model,total_fatal_injuries,total_serious_injuries,total_minor_injuries
0,1948,Destroyed,stinson,108,2.0,0.0,0.0
1,1962,Destroyed,piper,241,4.0,0.0,0.0
2,1974,Destroyed,cessna,172,3.0,NaN,NaN
3,1977,Destroyed,rockwell,112,2.0,0.0,0.0
4,1979,Destroyed,cessna,501,1.0,2.0,NaN

## Engineered Feature

In [6]:
plane_inventory = u.clean_data_PI(plane_inventory_raw)
plane_inventory

        year        make model  number_of_seats
0       2006    canadair    24             50.0
1       2006    canadair    24             50.0
2       2006    canadair    24             50.0
3       2006    canadair    24             50.0
4       2006    canadair    24             50.0
...      ...         ...   ...              ...
124069  2022  bombardier   600             50.0
124070  2022  bombardier   600             50.0
124071  2022  bombardier   600             50.0
124072  2022  bombardier   600             50.0
124073  2022  bombardier   600             50.0

[124074 rows x 4 columns]

---
## <center>2. Engineering Features for Plane Accidents data.</center>
---

In [7]:
plane_accidents_1F = u.engineer_make_model_feature_PAPI(plane_accidents)
plane_accidents_1F

,year,aircraft_damage,make,model,total_fatal_injuries,total_serious_injuries,total_minor_injuries,make_model
0,1948,Destroyed,stinson,108,2.0,0.0,0.0,stinson 108
1,1962,Destroyed,piper,241,4.0,0.0,0.0,piper 241
2,1974,Destroyed,cessna,172,3.0,NaN,NaN,cessna 172
3,1977,Destroyed,rockwell,112,2.0,0.0,0.0,rockwell 112
4,1979,Destroyed,cessna,501,1.0,2.0,NaN,cessna 501
...,...,...,...,...,...,...,...,...
80307,2022,NaN,piper,281,0.0,1.0,0.0,piper 281
80308,2022,NaN,bellanca,7,0.0,0.0,0.0,bellanca 7
80309,2022,Substantial,american champion,8,0.0,0.0,0.0,american champion 8
80310,2022,NaN,cessna,210,0.0,0.0,0.0,cessna 210
80311,2022,NaN,piper,242,0.0,1.0,0.0,piper 242

In [8]:
plane_accidents_2F = u.engineer_accident_features_PA(plane_accidents_1F)
plane_accidents_2F

,year,aircraft_damage,make,model,total_fatal_injuries,total_serious_injuries,total_minor_injuries,make_model,human_injury,human_injury_numeric
0,1948,Destroyed,stinson,108,2.0,0.0,0.0,stinson 108,Fatal,10.000000
1,1962,Destroyed,piper,241,4.0,0.0,0.0,piper 241,Fatal,10.000000
2,1974,Destroyed,cessna,172,3.0,NaN,NaN,cessna 172,Fatal,10.000000
3,1977,Destroyed,rockwell,112,2.0,0.0,0.0,rockwell 112,Fatal,10.000000
4,1979,Destroyed,cessna,501,1.0,2.0,NaN,cessna 501,Fatal,10.000000
...,...,...,...,...,...,...,...,...,...,...
80307,2022,NaN,piper,281,0.0,1.0,0.0,piper 281,Serious,6.666667
80308,2022,NaN,bellanca,7,0.0,0.0,0.0,bellanca 7,Unknown,0.000000
80309,2022,Substantial,american champion,8,0.0,0.0,0.0,american champion 8,Unknown,0.000000
80310,2022,NaN,cessna,210,0.0,0.0,0.0,cessna 210,Unknown,0.000000
80311,2022,NaN,piper,242,0.0,1.0,0.0,piper 242,Serious,6.666667

In [9]:
plane_accidents_3F = u.engineer_damage_feature_PA(plane_accidents_2F)
plane_accidents_3F

,year,aircraft_damage,make,model,total_fatal_injuries,total_serious_injuries,total_minor_injuries,make_model,human_injury,human_injury_numeric,aircraft_damage_numeric
0,1948,Destroyed,stinson,108,2.0,0.0,0.0,stinson 108,Fatal,10.000000,10.000000
1,1962,Destroyed,piper,241,4.0,0.0,0.0,piper 241,Fatal,10.000000,10.000000
2,1974,Destroyed,cessna,172,3.0,NaN,NaN,cessna 172,Fatal,10.000000,10.000000
3,1977,Destroyed,rockwell,112,2.0,0.0,0.0,rockwell 112,Fatal,10.000000,10.000000
4,1979,Destroyed,cessna,501,1.0,2.0,NaN,cessna 501,Fatal,10.000000,10.000000
...,...,...,...,...,...,...,...,...,...,...,...
80307,2022,NaN,piper,281,0.0,1.0,0.0,piper 281,Serious,6.666667,NaN
80308,2022,NaN,bellanca,7,0.0,0.0,0.0,bellanca 7,Unknown,0.000000,NaN
80309,2022,Substantial,american champion,8,0.0,0.0,0.0,american champion 8,Unknown,0.000000,6.666667
80310,2022,NaN,cessna,210,0.0,0.0,0.0,cessna 210,Unknown,0.000000,NaN
80311,2022,NaN,piper,242,0.0,1.0,0.0,piper 242,Serious,6.666667,NaN

In [10]:
plane_accidents_4F = u.engineer_danger_score_PA(plane_accidents_3F)
plane_accidents_4F

,year,aircraft_damage,make,model,total_fatal_injuries,total_serious_injuries,total_minor_injuries,make_model,human_injury,human_injury_numeric,aircraft_damage_numeric,danger_score
0,1948,Destroyed,stinson,108,2.0,0.0,0.0,stinson 108,Fatal,10.000000,10.000000,10.0
1,1962,Destroyed,piper,241,4.0,0.0,0.0,piper 241,Fatal,10.000000,10.000000,10.0
2,1974,Destroyed,cessna,172,3.0,NaN,NaN,cessna 172,Fatal,10.000000,10.000000,10.0
3,1977,Destroyed,rockwell,112,2.0,0.0,0.0,rockwell 112,Fatal,10.000000,10.000000,10.0
4,1979,Destroyed,cessna,501,1.0,2.0,NaN,cessna 501,Fatal,10.000000,10.000000,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...
80307,2022,NaN,piper,281,0.0,1.0,0.0,piper 281,Serious,6.666667,NaN,NaN
80308,2022,NaN,bellanca,7,0.0,0.0,0.0,bellanca 7,Unknown,0.000000,NaN,NaN
80309,2022,Substantial,american champion,8,0.0,0.0,0.0,american champion 8,Unknown,0.000000,6.666667,5.0
80310,2022,NaN,cessna,210,0.0,0.0,0.0,cessna 210,Unknown,0.000000,NaN,NaN
80311,2022,NaN,piper,242,0.0,1.0,0.0,piper 242,Serious,6.666667,NaN,NaN

---
## <center>3. Engineering Features for Plane Inventory data.</center>
---

In [11]:
plane_inventory_1F = u.engineer_make_model_feature_PAPI(plane_inventory)

In [12]:
plane_inventory_2F = u.engineer_plane_size_feature_PI(plane_inventory_1F)
plane_inventory_2F

        year        make model  number_of_seats      make_model plane_size
0       2006    canadair    24             50.0     canadair 24     medium
1       2006    canadair    24             50.0     canadair 24     medium
2       2006    canadair    24             50.0     canadair 24     medium
3       2006    canadair    24             50.0     canadair 24     medium
4       2006    canadair    24             50.0     canadair 24     medium
...      ...         ...   ...              ...             ...        ...
124069  2022  bombardier   600             50.0  bombardier 600     medium
124070  2022  bombardier   600             50.0  bombardier 600     medium
124071  2022  bombardier   600             50.0  bombardier 600     medium
124072  2022  bombardier   600             50.0  bombardier 600     medium
124073  2022  bombardier   600             50.0  bombardier 600     medium

[124074 rows x 6 columns]

In [13]:
final_results = u.ult_df(plane_accidents_4F, plane_inventory_2F)
final_results

,make_model,size,number_of_planes,recorded_accidents_for_plane_model,mean_human_injury_score,mean_aircraft_damage_score,mean_danger_score,recorded_accidents_per_plane_in_inventory
0,gulfstream,small,207,18.0,3.518519,7.083333,6.458333,0.086957
1,bombardier 700,small,91,6.0,0.000000,4.444444,3.333333,0.065934
2,dornier 228,small,69,14.0,2.142857,7.333333,6.250000,0.202899
3,boeing 747,small,53,301.0,1.450720,4.950000,3.991667,5.679245
4,gulfstream 550,small,51,2.0,0.000000,6.666667,5.000000,0.039216
5,gulfstream 450,small,45,NaN,NaN,NaN,NaN,NaN
6,gulfstream 650,small,37,NaN,NaN,NaN,NaN,NaN
7,gulfstream 200,small,33,5.0,0.000000,5.555556,4.166667,0.151515
8,dassault 200,small,29,NaN,NaN,NaN,NaN,NaN
9,cessna 208,small,29,306.0,4.618736,7.488426,6.796875,10.551724
10,embraer 145,medium,5790,55.0,1.393939,5.416667,4.244792,0.009499
11,bombardier 200,medium,3910,1.0,10.000000,10.000000,10.000000,0.000256
12,bombardier 900,medium,3022,NaN,NaN,NaN,NaN,NaN
13,embraer 175,medium,2766,2.0,3.333333,NaN,NaN,0.000723
14,embraer 170,medium,2671,21.0,2.857143,5.000000,4.687500,0.007862
15,bombardier 700,medium,2182,6.0,0.000000,4.444444,3.333333,0.002750
16,canadair 24,medium,1761,NaN,NaN,NaN,NaN,NaN
17,embraer 190,medium,1203,33.0,1.717172,5.777778,5.055556,0.027431
18,embraer 140,medium,1018,1.0,3.333333,NaN,NaN,0.000982
19,canadair 700,medium,934,NaN,NaN,NaN,NaN,NaN
20,boeing 737,large,26404,1023.0,1.668296,5.159722,4.302083,0.038744
21,airbus 320,large,8042,112.0,1.190476,5.416667,4.739583,0.013927
22,boeing 757,large,6507,202.0,2.145215,5.217391,4.175725,0.031043
23,airbus 319,large,5202,33.0,2.121212,3.333333,2.666667,0.006344
24,airbus 321,large,3983,38.0,1.403509,5.500000,4.375000,0.009541
25,boeing 767,large,3912,210.0,2.095238,4.866667,3.958333,0.053681
26,mcdonnell/douglas 80,large,3530,NaN,NaN,NaN,NaN,NaN
27,boeing 777,large,2620,161.0,1.511387,4.861111,3.865741,0.061450
28,boeing 717,large,1787,24.0,0.972222,5.416667,4.270833,0.013430
29,airbus 330,large,1205,52.0,1.282051,4.705882,3.970588,0.043154